# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.docker
.dockerignore

# Visual Studio
.vs/
**/.toolstarget
**/*.user
**/*.userosscache
**/*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Environment files
*.env
appsettings.*.json
!appsettings.json

# Documentation
README.md
LICENSE
*.md 